faiss-cpu
sentence-transformers
groq
matplotlib
networkx
pypdf
langchain
langchain-community
langchain-groq
langchain-huggingface
python-dotenv
pytest
nltk
fastapi
uvicorn
jinja2
python-multipart
graphviz
python-docx
openpyxl
pandas
pyarrow
scikit-learn
gdown